<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Passcode</title>
</head>

<body style="item-align:center">
@* code times/count from codingdojo platform *@
<h1>Random Passcode (passcode #@ViewBag.Times)</h1>
<input type="text" value="@ViewBag.Passcode">
<h3></h3>
<hr>
<a href="/new">Generate</a>
</body>

</html>