@model MVC2.Models.Survey


<div >
  <h1>Submitted Info</h1>
  <hr>
    <p>Your Name: @Model.Name</p>
    <p>Location: @Model.Languages</p>
    <p>Favorite Language:@Model.Locations</p>
    <p>Comment: @Model.Comments</p>
    <a href="/">Go Back</a>
  </div>

</html>