<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Portfolio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
     <div>
    <br>
     <div >
      <a  href="/">Home | </a>
      <a  href="/projects">Projects | </a>
      <a  href="/cantact">Contact</a>
    </div>
    <hr>
    <div >
      <h3 >Here is some delicios foods </h3>
      <!-- html/head tags removed for brevity -->
<body>
@{
    @* var StringList = new List<string>
    {
        "Apple pie",
        "Burrios",
        "Clams Casino",
        "Donuts"
     }; *@
    string[] StringList = {"Apple pie", "Burrios", "Clams Casino", "Donuts"};

    foreach(var word in StringList)
    {
        // We can render HTML from within C# code!
        <p style="color:red;">@word</p>
    }
}
</body>

    </div>
  </div>
</body>
</html>