<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Contact</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
 <div>
    <br>
     <div >
      <a  href="/">Home | </a>
      <a  href="/projects">Projects | </a>
      <a  href="/cantact">Contact</a>
    </div>
    <hr>
    <div >
      <h3 >Contact Me!</h3>
    </div>
    <div>
      <form>
        <div>
          <div>
            <input  type="text">
            <label >Name</label>
          </div>
          <div>
            <textarea id="textarea1" ></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
        </div>
        <div>
          <div>
            <input id="email" type="email" >
            <label for="email">Email</label>
          </div>
        </div>
        <button type="submit" >submit
        </button>
      </form>
    </div>
  </div>
  </body>
</html>