<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body style="text-align:center;">
  <h1>Submitted Info</h1>
  <hr>
      <p>Your Name: @ViewBag.fname</p>
    <p>Location: @ViewBag.locations</p>
    <p>Favorite Language: @ViewBag.languages</p>
    <p>Comment: @ViewBag.comment</p>
    <a href="/">Go Back</a>
  </body>
</html>